# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

- Listing popular languages for data science
- Listing popular tools used in data science
- Executing basic arithmetic expressions
- Converting hours to minutes 
- Introduction to Jupyter notebooks

Some of the popular languages that Data Scientists us are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. SciKit-Learn

| Data Science Tool |
| ------ |
| MySQL |
| PostgreSQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic operation that adds and multiplies integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes into hours by dividing by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author: 
## Timothy Lee